<!DOCType html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Amazon配送CSVツール</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
<style type="text/css">
<!--
.error {
   background: #ff0000;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #ececec;
}

.none {
   display: none;
}
.pagetop {
   display: none;
   position: fixed;
   bottom: 30px;
   right: 55px;
}
.pagetop a {
   display: block;
   width: 50px;
   height: 50px;
   background-color: #333;
   border-radius: 50px;
   text-align: center;
   color: #fff;
   font-size: 24px;
   text-decoration: none;
   line-height: 50px;
}

 -->
</style>
    <script src="js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript">

   var sort_cnt=1;
    // ここに処理を記述します。
$(document).ready(function(){
//  alert("Test");
});

$(function() {
  $('#form1').submit(function(){
      return validation();
   });
    function validation(){
        var ok_flg = 1;
        var cnt    = 0;

        $('[name="order"]:checked').each(function(){
            cnt++;
            var id = $(this).val();
            var shipping  = $('#shipping_method-'+ id).val();
            var shousai   = $('#shousai-'+ id).val();
            var weight    = $('#weight-'+id).val();
            var error = 0;
            if( shipping == undefined || shipping == '' ) {
               //alert("shipping is undefinedXX");
               $('#shipping_method-'+ id).addClass('error');
               error = 1;
            }
            if( weight == undefined || weight == '') {
               //alert("weight is undefinedXX");
               $('#weight-'+ id).addClass('error');
               error = 1;
            }
            if( shousai == undefined || shipping == '' ) {
               //alert("shousai is undefinedXX");
               $('#shousai-'+ id).addClass('error');
               error = 1;
            }

            if( error == 1){
              ok_flg = 0;
              $('html, body').animate({
                scrollTop: $('#shipping_method-'+ id).offset().top - 30
              }, 200);
            }
        });
        if(ok_flg ==1 && cnt > 0 ){
            // no error
            return true;
        }else if( ok_flg == 1 && cnt == 0){
            alert("対象の注文が選択されていません");
          }
        return false;
    }

   function calc_shipping_price(id,country,weight,shipping_method){
        var price = 0;
        var tmp_country = 'US';
        var tmp_method  = shipping_method;
        var tmp_weight  = weight;
//alert(tmp_country+ ", " + tmp_method + ", " + tmp_weight);
        $.ajax({
            url: '/api/shipping_price.php',
            type: 'post',
            dataType: 'html', 
            data: { 
                country: tmp_country,
                method: tmp_method,
                weight: tmp_weight
            },
            error: function(xhr, status, err) {
              alert('ERROR');
              console.dir(xhr);
              console.dir(status);
              console.dir(err);
            },
            success: function(r){
//alert("country:"+ tmp_country + " , weigh:" + tmp_weight + " , method : " + tmp_method + " = "  + r);
             $('#shippingPrice-'+id).text( r );
              price = r;
            }
        });
   }

   function update_weight(id){
     var sku = $('#sku-'+id).val();
     var shipping_method = $('#shipping_method-'+ id ).val();
        $.ajax({
            url: '/api/get_weight.php',
            type: 'post',
            dataType: 'html', 
            data: { 
                sku: sku,
                shipping_method: shipping_method,
            },
            error: function(xhr, status, err) {
              alert('ERROR');
              console.dir(xhr);
              console.dir(status);
              console.dir(err);
            },
            success: function(r){
              if(r!=""){
                $('#weight-'+id).val( r );
                update_shipping_price(id);
              }else{
                $('#weight-'+id).val( "" );
                update_shipping_price(id);
              }
            }
        });
   }

   function update_shipping_price(id){
    var weight = $('#weight-'+id).val();
    var shipping_method = $('#shipping_method-'+ id ).val();
    var country = $('#country-'+id).val();
console.log("shipping_method");
console.log(shipping_method);
console.log("weight");
console.log(weight);

    calc_shipping_price(id,country,weight,shipping_method);
   }

   function get_id(tmp_id){
     kekka = tmp_id.split("-");
     return kekka[1];
   }

  $('select.shipping_method').change(function(){
    id = get_id( this.id);
   // XXX重量情報を取得する

    var shipping_method1 = $('#weight-'+ id ).val();

      update_weight(id);
      //update_shipping_price(id);
  });

  $('input:text.weight').change(function(){
    $(this).removeClass('error');
    id = get_id( this.id);
    update_shipping_price(id);
  });

  $('input:text.sort').change(function(){
    var changeIndex = $('input:text.sort').index( $(this) );
    //alert("text: changed"+ changeIndex);
  });

  $('input:checkbox.order').change(function(){
    id = get_id( this.id);
    var sort_el      = $('#sort-'+id);
    var shipping_el  = $('#shipping_method-'+ id);
    var shousai_el   = $('#shousai-'+ id);
    var weight_el    = $('#weight-'+id);
    var id_hidden_el = $('#ids-'+id);
    var country_hidden_el = $('#country-'+id);

    update_weight(id);
    //update_shipping_price(id);

    if ($(this).is(':checked')) {
      if( sort_el.val() === undefined || sort_el.val() == "" ){
        sort_el.val(sort_cnt);
        sort_cnt++;
      }else{
       //alert("bb" + sort_el.val() );
      }

      sort_el.prop("disabled", false);
      shipping_el.prop("disabled", false);
      shousai_el.prop("disabled", false);
      weight_el.prop("disabled", false);
      id_hidden_el.prop("disabled", false);
      country_hidden_el.prop("disabled", false);
    }
    else{
      sort_el.prop("disabled", true);
      shipping_el.prop("disabled", true);
      shousai_el.prop("disabled", true);
      weight_el.prop("disabled", true);
      id_hidden_el.prop("disabled", true);
      country_hidden_el.prop("disabled", true);
    }

  });
});
$(document).ready(function() {
   var pagetop = $('.pagetop');
   $(window).scroll(function () {
   if ($(this).scrollTop() > 700) {
   pagetop.fadeIn();
   } else {
   pagetop.fadeOut();
   }
   });
   pagetop.click(function () {
   $('body, html').animate({ scrollTop: 0 }, 500);
   return false;
   });
});
  </script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

<body>

    <h1>amazon配送ツール</h1>
    <div class="sample" style="display:none;">
      <button type="button" class="btn btn-default">Default</button>
      <button type="button" class="btn btn-primary">Primary</button>
      <button type="button" class="btn btn-success">Success</button>
      <button type="button" class="btn btn-info">Info</button>
      <button type="button" class="btn btn-warning">Warning</button> 
      <button type="button" class="btn btn-danger">Danger</button>
      <button type="button" class="btn btn-link">Link</button>
    </div>
<p class="pagetop"><a href="#xxx">▲</a></p>
    <div  class="container">
	  <div class="row">
        <div class="col-md-6" style="background-color: #e6e6e6;">
          <form enctype="multipart/form-data" action="./upload.php" method="POST">
            <input type="file" name="file_data1">
            <input type="submit" value="オーダーレポート取り込み" type="button" class="btn btn-primary">
          {% if upload_success %}
            <br>
            <span style="color:red;">取り込み完了しました</span>
          {% endif %}
            </form>
        </div>
        <form name="form1" action="/download.php" method="post" id="form1">
          <div class="col-md-6" style="background-color: #e6e6e6;">
            ドルレート
            <input type="text" name="dollar_rate" value="{{ dollar_rate['rate']}}">
	        <br/>
            <input type="submit" value="submit" class="btn btn-primary">日本郵便用CSV出力</a>
		  </div>
	  </div>
      <br/>
      <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <th>#</th>
            <th><input type="checkbox" checked="checked" class="none">OrderId</th>
            <th><input type="checkbox" checked="checked" class="none">顧客名</th>
            <th><input type="checkbox" checked="checked" class="none">JANコード</th>
            <th style="width:20px;"><input type="checkbox" checked="checked" class="none">注文商品</th>
            <th><input type="checkbox" checked="checked" class="none">注文商品数</th>
            <th><input type="checkbox" checked="checked" class="none">注文商品金額合計</th>
            <th><input type="checkbox" checked="checked" class="none">単価平均</th>
            <th>type</th>
            <th>内容品詳細名</th>
            <th><input type="checkbox" checked="checked" class="none">発送方法</th>
            <th>重量</th>
            <th><input type="checkbox" checked="checked" class="none">送料</th>
            <th>sort</th>
          </tr>
        </thead>
        <tbody>
   {% for order_id, value in orders %}
      {% set id = value.items[0].order_id_num %}
      {% set item = value.items[0] %}
          <tr>
            <td>

{{item.seq}}<input type="checkbox" id="checkbox-{{id}}" value="{{id}}" name="order" class="order"></td>
            <td>{{item.order_id}}</td>
            <td>{{value.items[0].buyer_name}}</td>
            <td>
      {% set sku_str = "" %}
{% for tmp in value.items %}
<li>{{tmp.sku}}</li>
{% set sku_str = sku_str ~ tmp.sku~"," %}
{% endfor %}
            <input type="hidden" name="sku[]" value="{{sku_str}}" id="sku-{{id}}" class="id" disabled>
            </td>
            <td>
{% for tmp in value.items %}
<li>*{{tmp.product_name}}</li>
{% endfor %}

</td>
            <td>{{value.qty}}個</td>
            <td>${{value.sum}}<br/>
({{ "%d"| format(value.sum * dollar_rate['rate'])  }}円)
</td>
            <td>
              ${{ "%2.2f" | format( value.sum /value.qty) }}<br/>
              ({{ "%d"| format(value.sum * dollar_rate['rate']/value.qty) }}円)
            </td>
            <td>{{value.items[0].ship_service_level}}</td>
            <td>
      {% set st = products_info[item.sku]['shousai_type'] %}
              <select name="shousai-{{id}}" id="shousai-{{id}}" disabled>
                <option value="1" {% if st ==1 %}selected{% endif %} >Toy(not battery)</option>
                <option value="2" {% if st ==2 %}selected{% endif %}>Cosmetics</option>
                <option value="3" {% if st ==3 %}selected{% endif %} >Candy</option>
                <option value="4" {% if st ==4 %}selected{% endif %} >Stationery</option>
              </select>
            </td>
            <td>
              {% if value.items[0].ship_service_level == 'Expedited' %}
              <input type="hidden" name="shipping_method-{{id}}" id="shipping_method-{{id}}" value="111" disabled>
              EMS
              {% else %}
              <select name="shipping_method-{{id}}" id="shipping_method-{{id}}" class="shipping_method" disabled>
                {% for key, type in config[value.items[0].ship_country] %}
                {% if type %}
                {{key}}:{{type}}
                <option value="{{key}}" {% if key=='331' %}selected{% endif %}>{{key}}:{{shipping['method'][key]['title'] }}</option>
                {% endif %}
                {% else %}
                ユーザはいません
                {% endfor %}
              </select>
<!--
              <select name="shipping_method-{{id}}" id="shipping_method-{{id}}" class="shipping_method" disabled>
                <option value="111">EMS</option>
                <option value="231">SAL</option>
                <option value="331">eパケット</option>
                <option value="521">国際小包</option>
              </select>
-->
              {% endif %}
            </td>
            <td><input type="text" name="weight-{{id}}" value="{{products_info[item.sku]['weight']}}" style="width:50px;" class="weight" id="weight-{{id}}" disabled></td>
            <td><span class="shippingPrice" id="shippingPrice-{{id}}">00</span>円</td>
            <td><input type="text" name="sort-{{id}}" id="sort-{{id}}" value="" style="width:40px;" class="sort" disabled></td>

            <input type="hidden" name="id[]" value="ids-{{id}}" id="ids-{{id}}" class="id" disabled>
            <input type="hidden" name="country-{{id}}" id="country-{{id}}" value="{{item.ship_country}}" class="country" disabled>

          </tr>

    {% endfor %}

        </tbody>
      </table>
      </form>
    <a href="/" class="btn btn-success">Reset</a>
    <a href="/products.php" class="btn btn-success">商品一覧</a>
    <a href="/conf.php" class="btn btn-success">送料設定</a>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

</body>
</html>
