<!DOCType html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Amazon配送CSVツール- 商品一覧</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript">
    </script>
  </head>

<body>
    <h1>商品一覧</h1>
    <div  class="container">
      <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <th>id</th>
            <th>sku</th>
            <th>name</th>
            <th>weight(EMS)</th>
            <th>weight(SAL)</th>
            <th>weight(SP SAL)</th>
            <th>weight(eパケット)</th>
            <th>shousai</th>
          </tr>
        </thead>
        <tbody>
   {% for value in products %}
      {% set sku = value.sku %}
          <tr>
            <td>{{value.id}}</td>
            <td>{{value.sku}}</td>
            <td>{{value.name}}</td>
            <td>{{weight[sku][111]}}</td>
            <td>{{weight[sku][231]}}</td>
            <td>{{weight[sku][331]}}</td>
            <td>{{weight[sku][521]}}</td>
            <td>
             {% if value.shousai_type %}
               {% if value.shousai_type == 1%}Toy(not battery)
               {% elseif value.shousai_type == 2%}Cosmetics
               {% elseif value.shousai_type == 3%}Candy
               {% elseif value.shousai_type == 4%}Stationery
               {% endif %}
             {% endif %}
            </td>
          </tr>
    {% endfor %}
        </tbody>
      </table>
      </form>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

</body>
</html>

